#insert-div {
  background-color: pink;
  display: flex;
}

#course-satae {
  width: 300px;
  display: inline-flex;
  height: 32px;
  padding: 30px 0;
}

#course-show-all {
  margin-left: 50px;
  display: flex;
  align-items: center;
}

#course-show-pic {
  /* background-color: orange; */
  /* background-color: green; */
  background-color: gray;
  height: 32px;
  border-radius: 50%;
  width: 32px;
  margin-right: 20px;
}

#course-show-text {
  color: brown;
  font-weight: bold;
  font-size: 24px;
}

.load-item {
  margin: 5px 0;
}

/* #video-show {
  position: relative;
}

#my-video {
  position: relative;
}

#subtitle-text {
  color: #ffffff;
  background-color: #1c1c1c;
  font-size: 16px;
  bottom: 45px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  display: inline-block;
  white-space: nowrap;
  padding: 4px;
} */

#video-show {
  position: relative;
}

#my-video {
  width: 100%;
}

#subtitle-container {
  position: absolute;
  bottom: 45px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 1; /* Ensure it overlays the video */
}

#subtitle-text {
  color: #ffffff;
  background-color: #1c1c1c;
  font-size: 16px;
  white-space: nowrap;
  padding: 4px;
}
