#insert-div {
  background-color: pink;
  display: flex;
}

#course-satae {
  width: 300px;
  display: inline-flex;
  height: 32px;
  padding: 30px 0;
}

#course-show-all {
  margin-left: 50px;
  display: flex;
  align-items: center;
}

#course-show-pic {
  /* background-color: orange; */
  /* background-color: green; */
  background-color: gray;
  height: 32px;
  border-radius: 50%;
  width: 32px;
  margin-right: 20px;
}

#course-show-text {
  color: brown;
  font-weight: bold;
  font-size: 24px;
}

.load-item {
  margin: 5px 0;
}

/* #video-show {
  position: relative;
}

#my-video {
  position: relative;
}

#subtitle-text {
  color: #ffffff;
  background-color: #1c1c1c;
  font-size: 16px;
  bottom: 45px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  display: inline-block;
  white-space: nowrap;
  padding: 4px;
} */

/* #video-show {
  position: relative;
}

#my-video {
  width: 100%;
  z-index: 1;
}

#subtitle-container {
  position: absolute;
  bottom: 45px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 1000;
}

#subtitle-text {
  color: #ffffff;
  background-color: #1c1c1c;
  font-size: 16px;
  white-space: nowrap;
  padding: 4px;
} */

/* css2 */
/* #video-show {
  position: relative;
}

#my-video {
  width: 100%;
  z-index: 1;
}

#subtitle-container {
  position: absolute;
  bottom: 45px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 1000;
}

#subtitle-text {
  color: #ffffff;
  background-color: #1c1c1c;
  font-size: 16px;
  white-space: nowrap;
  padding: 4px;
}


#video-show.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1000;
}

#my-video.fullscreen {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#subtitle-container.fullscreen {
  bottom: 0;
} */

/* css 3 */
#video-show {
  position: relative;
  z-index: 100;
}

#my-video {
  width: 100%;
  z-index: 1;
}

#subtitle-container {
  position: absolute;
  bottom: 45px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 1000;
}

#subtitle-text {
  color: #ffffff;
  background-color: #1c1c1c;
  font-size: 16px;
  white-space: nowrap;
  padding: 4px;
}

#video-show.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
}

.fullscreen #my-video {
  flex: 1;
  object-fit: contain;
}

.fullscreen #subtitle-container {
  bottom: 0;
  position: absolute;
}
