#my-subtitle {
  touch-action: none;
  text-align: center;
  left: 50%;
  bottom: 2%;
  position: absolute;
  z-index: 50;
  margin-bottom: 61px;
}

.ytp-autohide #my-subtitle {
  margin-bottom: 0;
}

/* Robert(2024/04/24) : fix sometimes show 2 subtitle */
/* .ytp-transparent
  .ytp-caption-window-container
  .caption-window.ytp-caption-window-bottom {
  margin-bottom: 200px;
  opacity: 0;
} */
.ytp-transparent .ytp-caption-window-container .caption-window {
  margin-bottom: 200px;
  opacity: 0;
}

#my-subtitle.no-display {
  opacity: 0;
}
